{% load static %}
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/">
                    <img src="{% static 'img/core-img/MIIOAM.png' %}" alt="logo">
                </a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="#">Shop</a>
                                <div class="megamenu" style="display: block">
                                    <ul class="single-mega cn-col-4">
                                        <a class="dropdown-item" href="{% url 'shop:all_product' %}">ALL</a>
                                        {% for large_link in large_links %}
                                        <li class="title">{{ large_link.name }}</li>
                                        {% for medium_link in medium_links %}
                                        {% ifequal large_link.id medium_link.large_category.id %}
                                        <li><a href="{{ medium_link.get_url }}">{{ medium_link.name }}</a></li>
                                        {% endifequal %}
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                    <div class="single-mega cn-col-4">
                                        <img src="{% static 'img/bg-img/bg-6.jpg' %}" alt="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                {% comment %} <!-- Search Area -->
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div> {% endcomment %}
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="font-size:25px; vertical-align: middle;"></i></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true" style="font-size:25px; vertical-align: middle;"></i></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span>{{ cart_items|length }}</span></a>
                </div>
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->