{% load static %}
<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="{% static 'img/core-img/bag.svg' %}" alt="">
            <span>{{ cart_items|length }}</span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            {% for cart_item in cart_items %}
                <div class="single-cart-item">
                    <div class="product-image">
                        <img src="{{ cart_item.product.main_image.url }}" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                          <span class="product-remove" onchange="">
                              <a href="{% url 'cart:full_remove' cart_item.product.id cart_item.size %}">
                              <i class="fa fa-close" aria-hidden="true"></i>
                              </a>
                          </span>
                            <span class="badge">{{ cart_item.product.name }}</span>
                            <h6>{{ cart_item.product.description }}</h6>
                            <p class="size">Size: {{ cart_item.size }}</p>
                            <p class="color">{{ cart_item.quantity }}個</p>
                            <p class="price">¥: {{ cart_item.product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Cart Summary -->
        <div class="cart-amount-summary">
            <ul class="summary-table">
                <li><span>total:</span> <span>¥: {{ total }}</span></li>
            </ul>
            <div class="mx-auto">
                <form action="" method="POST">
                    {% csrf_token %}
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ data_key }}"
                            data-amount="{{ total }}"
                            data-name="Miioam"
                            data-description="Example charge"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="ja"
                            data-shippingAddress="true"
                            data-zip-code="true"
                            data-currency="JPY">
                    </script>
                </form>
            </div>

{#            <div class="checkout-btn mt-50">#}
{#                <a href="checkout.html" class="btn essence-btn">check out</a>#}
{#            </div>#}
        </div>
    </div>
</div>
<!-- ##### Right Side Cart End ##### -->
<script>
    const removeCart = () => {

    }
</script>