{% extends "base.html" %}
{% load static %}

{% block content %}
    <div style="text-align: center; margin-bottom: 1rem">
    <div><h1>【特定商取引法に基づく表記】</h1>
        <table bgcolor="#999999" border="0" cellpadding="9" cellspacing="1" style="font-size:13px; margin: 0 auto">
            <tr>
                <th bgcolor="#EEEEEE">販売社名</th>
                <td bgcolor="#FFFFFF">MIIOAM</td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE">運営統括責任者</th>
                <td bgcolor="#FFFFFF">清水　裕斗</td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE">所在地</th>
                <td bgcolor="#FFFFFF">東京都港区浜松町2丁目2番15号　浜松町ダイヤビル５F</td>
            </tr>
            <tr>beiyezemeng@gmail.com
                <th bgcolor="#EEEEEE">電話番号</th>
                <td bgcolor="#FFFFFF">070-8426-7843</td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE">メールアドレス</th>
                <td bgcolor="#FFFFFF">beiyezemeng@gmail.com</td></tr><tr><th bgcolor=" #EEEEEE">
                販売URL
                </th>
                <td bgcolor="#FFFFFF"> http://miioam-ec.herokuapp.com/</td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE">お支払い方法</th>
                <td bgcolor="#FFFFFF">クレジットカード</td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE"><br/>送料：商品と合算
                </td></tr>
            <tr>
                <th bgcolor="#EEEEEE">販売数量</th>
                <td bgcolor="#FFFFFF">１個から
            <tr>
                <th bgcolor="#EEEEEE">お申込み有効期限</th>
                <td bgcolor="#FFFFFF">5日以内にお願いいたします。<br/> 3日間入金がない場合は、キャンセルとさせていただきます。</td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE">商品引渡し時期</th>
                <td bgcolor="#FFFFFF">入金確認後５営業日以内で発送致します。<br/></td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE">商品引渡し方法</th>
                <td bgcolor="#FFFFFF">当方にて手配後、運送会社による配送</td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE">返品・不良品について</th>
                <td bgcolor="#FFFFFF">「不良品・当社の商品の間違い」の場合は当社が負担いたします。<br/> 配送途中の破損などの事故がございましたら、弊社までご連絡下さい。<br/>
                    送料・手数料ともに弊社負担で早急に新品をご送付致します。<br/><br/> 【返品対象】<br/>「不良品・当社の商品の間違い」の場合<br/><br/> 【返品時期】<br/>ご購入後3日以内にご連絡があった場合に返金可能となります。<br/><br/>
                    【返品方法】<br/>メールにて返金要請してください。<br/>3営業日以内にご購入代金を指定の口座へお振込みいたします。
                </td>
            </tr>
            <tr>
                <th bgcolor="#EEEEEE">表現、及び商品に<br/>関する注意書き</th>
                <td bgcolor="#FFFFFF">本商品に示された表現や再現性には個人差があり、<br/>必ずしも利益や効果を保証したものではございません。</td>
        </table>
    </div>
    </div>

{% endblock %}